<div class="container about-the-project-container">
  <div class="panel panel-default about-the-project">
    <div class="panel-heading">
      <h3 class="panel-title">About the Project</h3>
    </div>
    <div class="panel-body">
      <h3>Overview</h3>
      <p>UberMeditation is a web application for Uber employees to use meditation in order to deal with stress and remain calm. I envisioned this as a stand-alone web application, linked to by Hipchat and internal wikis.</p>
      <p>On this app, Uber employees will learn different meditation techniques and practice meditation with the help of a timer. In the future, they might also login, see their past meditation sessions, and schedule upcoming meditation sessions.</p>
      <p>Uber employees are busy people, so I aimed to keep the content short and simple to digest. I also aimed to keep the design light. For example, on the “Learn” tab, the meditation techniques are shown on cards that resemble Post-It Notes to make it look fun and approachable.</p>
      <p>The previous tabs show my prototypes of UberMeditation’s landing page, learning page, practice page, and reflect page.</p>
      <ul>
      <li>The landing page is a simple page with a title, description, and a call to action button to “Learn More.”</li>
      <li>The learning page is where I show my digital learning experience. Users will be able to quickly scan different meditation techniques, see more detailed instructions, and start meditating. The main hope was for users to actually practice meditation, so I didn’t see the need for a lot of text.</li>
      <li>The practice page shows a meditation timer with short and long session presets. You can adjust the time. You can pause and reset the timer.</li>
      </ul>
      <h3>Wireframes</h3>
      <%= image_tag "wireframe1.jpg", height: "600", width: "400", class: "wireframe" %>
      <%= image_tag "wireframe2.jpg", height: "600", width: "400", class: "wireframe" %>
    </div>
  </div>
</div>