<div class="landing">
  <div class="jumbotron meditation-jumbotron">
    <div class="title">
      <h1>Take the time today.</h1>
    </div>
    <div class="description">
      Even five minutes of meditation can help alleviate stress and helps you stay balanced.
    </div>
    <p><a class="btn btn-primary btn-lg" href=<%=home_static_pages_url%> role="button">Learn more</a></p>
  </div>
</div>