/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body { 
  padding-top: 70px;
  height: 100%;
  width: 100%;
}

.time {
  font-size: 13em;
  font-weight: bold;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.btn {
  margin: 10px 1px;
}

.landing {
  height: 700px;
  width: 100%;
  background-image: url("app/assets/images/meditation.jpg");
  background-size: cover;
  margin-top: -40px;
  z-index: -1;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
}

.title {
  line-height: 1.4 em;
  font-weight: 1000;
  font-size: 38px;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 10;
  padding-top: 10%;
  padding-bottom: 10px;
}

.description {
  font-size: 20px;
  font-weight: 200;
  line-height: 1.5 em;
  padding-bottom: 20px;
}

.jumbotron {
  background: transparent;
  margin-left: 20%;
}
